name: Unity Build IOS

on:
    workflow_dispatch:
        inputs:
            customParameters:
                description: "build custom parameters"
                required: false
                default: ""

### Refer to https://game.ci/docs/github/getting-started
jobs:
    buildIOS:
        name: Build for IOS
        runs-on:
            group: Default
            labels: ubuntu
        steps:
            # - name: Free Disk Space (Ubuntu)
            #   uses: jlumbroso/free-disk-space@main
            #   with:
            #       dotnet: false
            - uses: actions/checkout@v4
              with:
                  lfs: true
            - uses: actions/cache@v3
              with:
                  path: Library
                  key: Library-IOS
            - uses: game-ci/unity-builder@v4
              env:
                  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
                  UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
                  UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
              with:
                  targetPlatform: IOS
                  customParameters: "${{ inputs.customParameters }}"
            - uses: actions/upload-artifact@v3
              with:
                  name: Build-IOS
                  path: build
