name: Unity Build Windows

on:
    workflow_dispatch:
        inputs:
            customParameters:
                description: "build custom parameters"
                required: false
                default: ""

### Refer to https://game.ci/docs/github/getting-started
jobs:
    buildForWindows:
        name: Build for ${{ matrix.targetPlatform }}
        runs-on: windows-2019
        strategy:
            fail-fast: false
            matrix:
                targetPlatform:
                    - StandaloneWindows
                    # - StandaloneWindows64
        steps:
            - uses: actions/checkout@v3
              with:
                  lfs: true
            - uses: actions/cache@v3
              with:
                  path: Library
                  key: Library-${{ matrix.targetPlatform }}
            - uses: game-ci/unity-builder@v2
              env:
                  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
                  UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
                  UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
              with:
                #   buildMethod: UnityBuilderAction.BuildScript.Build
                  targetPlatform: ${{ matrix.targetPlatform }}
                  customParameters: "${{ inputs.customParameters }}"
            - uses: actions/upload-artifact@v3
              with:
                  name: Build-${{ matrix.targetPlatform }}
                  path: build
