name: Unity Build Windows

on:
    workflow_dispatch:
        inputs:
            customParameters:
                description: "build custom parameters"
                required: false
                default: ""

### Refer to https://game.ci/docs/github/getting-started
jobs:
    buildForWindows:
        name: Build for StandaloneWindows
        runs-on: windows-2022
        steps:
            - uses: actions/checkout@v4
              with:
                  lfs: true
            - uses: actions/cache@v3
              with:
                  path: Library
                  key: Library-StandaloneWindows
            - uses: game-ci/unity-builder@v4
              env:
                  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
                  UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
                  UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
              with:
                #   buildMethod: UnityBuilderAction.BuildScript.Build
                  targetPlatform: StandaloneWindows
                  customParameters: "${{ inputs.customParameters }}"
            - uses: actions/upload-artifact@v3
              with:
                  name: Build-StandaloneWindows
                  path: build
